/*programo en CSS*/
body
{
  margin: 0;
}
#menu
{
  background: rgba(0,0,0,0.8);
  position: fixed;
  height: 44px; right: 0; left: 0; top: 0;
  backdrop-filter: saturate(180%) blur(20px);
}
.apple-list
{
  margin-top: 16px;
  margin-left: 10%;
  margin-right: 15%;
  color: rgb(196, 196, 196);
  font-size: 11.7px;
  list-style: none;
  display: flex;
  justify-content: space-between;
  font-family:"SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}
.apple-list li:hover
{
  transition: all 0.3s linear;
  cursor: pointer;
  color: white;
}
.apple-logo
{
  margin: -8px;
}
.lupa-logo
{
  margin: -6px;
}
.iphone-13-pro
{
  text-align: center;
  margin-top: 60px;
  font-family:"SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}
.titulo
{
  font-size: 56px;
  margin-bottom: 0;
  color: rgb(30, 30, 30);
  font-weight: bold;
}
.descripcion
{
  font-size: 28px;
  margin-top: 5px;
  color: rgb(30, 30, 30);
}
.info
{
  font-size: 20px;
  margin-top: -6px;
  color: rgb(137, 137, 137);
}
.mas-info
{
  font-size: 20px;
  color: rgb(23, 95, 177);
}
.mas-info:hover
{
  cursor: pointer;
  text-decoration: underline;
}
.iphone-13-pro-img
{
  height: 500px;
  cursor: pointer;
}
.iphone-13
{
  text-align: center;
  margin-top: 60px;
  font-family:"SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}
.titulo2
{
  font-size: 56px;
  margin-bottom: 0;
  color: rgb(30, 30, 30);
  font-weight: bold;
}
.descripcion2
{
  font-size: 28px;
  margin-top: 5px;
  color: rgb(30, 30, 30);
}
.info2
{
  font-size: 20px;
  margin-top: -6px;
  color: rgb(137, 137, 137);
}
.mas-info2
{
  font-size: 20px;
  color: rgb(23, 95, 177);
}
.mas-info2:hover
{
  cursor: pointer;
  text-decoration: underline;
}
.iphone-13-img
{
  height: 380px;
  cursor: pointer;
}
.watch-7
{
  text-align: center;
  margin-top: 60px;
  font-family:"SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}
.apple-logo-black
{
  height: 50px;
}
.titulo3
{
  font-size: 50px;
  margin-bottom: 0;
  color: rgb(0, 0, 0);
  font-weight: bold;
}
.descripcion3
{
  font-size: 22px;
  margin-top: 5px;
  color: rgb(189, 18, 18);
  font-weight: bold;
}
.info3
{
  font-size: 28px;
  margin-top: -6px;
  color: rgb(30, 30, 30);
}
.mas-info3
{
  font-size: 20px;
  color: rgb(23, 95, 177);
  margin-top: -10px;
}
.mas-info3:hover
{
  cursor: pointer;
  text-decoration: underline;
}
.watch-7-img
{
  height: 300px;
  margin-top: 70px;
  cursor: pointer;
}

.studiodisplay
{
  text-align: center;
  margin-top: 60px;
  font-family:"SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}
.titulo4
{
  font-size: 56px;
  margin-bottom: 0;
  color: rgb(30, 30, 30);
  font-weight: bold;
}
.descripcion4
{
  font-size: 28px;
  margin-top: 5px;
  color: rgb(30, 30, 30);
}
.info4
{
  font-size: 20px;
  margin-top: -6px;
  color: rgb(137, 137, 137);
}
.mas-info4
{
  font-size: 20px;
  color: rgb(23, 95, 177);
}
.mas-info4:hover
{
  cursor: pointer;
  text-decoration: underline;
}
.studio-display-img
{
  margin-top: -100px;
  height: 550px;
  cursor: pointer;
}
footer
{
  background-color: rgb(245, 245, 245);
}
.lista-apple:hover
{
  cursor: default;
}
.lista-apple
{
  color: rgb(50, 50, 50)
}
.lista
{
  color: rgb(104, 104, 104);
}
.lista:hover
{
  cursor: pointer;
}
.lista-footer
{
  margin-left: 10%;
  margin-right: 15%;
  display: flex;
  line-height: 28px;
  justify-content: space-between;
}
footer .lista-footer ul 
{
  font-size: 12px;
  list-style: none;
  font-family:"SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}
footer .lista-footer ul li:hover
{
  text-decoration: underline;
}
.abajo-footer
{
  font-family:"SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
  margin-left: 10%;
  margin-right: 15%;
  font-size: 12px;
  color: rgb(104, 104, 104);
}
.distribuidor
{
  color: rgb(23, 95, 177);
}
.distribuidor-hr
{
  margin-bottom: -20px;
  margin-left: 4%;
  margin-right: -2%;
}
.distribuidor:hover
{
  cursor: pointer;
  text-decoration: underline;
}
footer .abajo-footer .abajo-footer-footer .abajo-info
{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .abajo-footer .abajo-footer-footer .abajo-info li
{
  display: inline-block;
}
.info-importante li:hover, .ubicacion li:hover
{
  cursor:pointer;
  text-decoration: underline;
}
.linea
{
  padding: 10px;
}