*{
    margin: 0;
    padding: 0;
}
body{
    background: #000000;
    text-align: center;
    color: #999999;
    font-family: 'Arial', 'sans-serif';
}
.img{
    max-width: 100%;
    margin: auto;
    display: block;
    padding-bottom: 6%;
}
.textos{
    padding: 2% 26%;
    background: #FFFFFF;
}
p{  
    max-width: 100%;
    font-size: 110%;
    padding-bottom: 20%;
    line-height: 140%;
    background: black;
}
p a {
    color: #999999;
    text-decoration: none;
    border-bottom: 1px solid #999999;
}
.spot{
    padding: 4%;
    border: 2px solid #999
}